<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="token" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPbmxpbmUgSldUIEJ1aWxkZXIiLCJpYXQiOjE1NDgzMzY4MTYsImV4cCI6MTU3OTk1OTIxNiwiYXVkIjoiaHR0cDovL2xvY2FsaG9zdDo4MDExLyIsInN1YiI6InV6YWNoZUBldXJvZmlucy5jbyIsIklkIjoiMkQzNTUzMzAtQjY1RS00REU3LTg2MzgtRDY0Q0REMjg3NDZDIiwiRmlyc3ROYW1lIjoiM0IzOTE0NiIsIkxhc3ROYW1lIjoiM0IzOTE0NiIsIkxhbmd1YWdlSXNvQ29kZSI6ImVuIiwiRW1haWwiOiJ1emFjaGVAZXVyb2ZpbnMuY29tIiwiVXNlck5hbWUiOiJ1emFjaGUifQ.EnF8r4OspYOU1usHUiO188EXUl0Dq4th2yPaLSdgpoI"></add>
  <add key="Id" value="2D355330-B65E-4DE7-8638-D64CDD28746C"></add>
  <add key="FirstName" value="3B39146"></add>
  <add key="LastName" value="3B39146"></add>
  <add key="LanguageIsoCode" value="en"></add>
  <add key="Email" value="uzache@eurofins.com"></add>
  <add key="UserName" value="uzache"></add>    
  </appSettings>
</configuration>