<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="token" value="eyJhbGciOiJodHRwOi8vd3d3LnczLm9yZy8yMDAxLzA0L3htbGRzaWctbW9yZSNobWFjLXNoYTI1NiIsInR5cCI6IkpXVCJ9.eyJJZCI6IjJEMzU1MzMwLUI2NUUtNERFNy04NjM4LUQ2NENERDI4NzQ2QyIsIkZpcnN0TmFtZSI6IjNCMzkxNDYiLCJMYXN0TmFtZSI6IjNCMzkxNDYiLCJMYW5ndWFnZUlzb0NvZGUiOiJlbiIsIkVtYWlsIjoidXphY2hlQGV1cm9maW5zLmNvbSIsIlVzZXJOYW1lIjoidXphY2hlIn0.XDvJCB-gJuVjYweMLvkMJUHGucS-j_8q2T296kF7tis"></add>
  <add key="Id" value="2D355330-B65E-4DE7-8638-D64CDD28746C"></add>
  <add key="FirstName" value="3B39146"></add>
  <add key="LastName" value="3B39146"></add>
  <add key="LanguageIsoCode" value="en"></add>
  <add key="Email" value="uzache@eurofins.com"></add>
  <add key="UserName" value="uzache"></add>    
  </appSettings>
</configuration>